html, body, div,h1, h2, h3, p, a, img, ol, ul, li, select{
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*
body{
    line-height: 1;
}*/
#container {
	width: 1000px;
	height: 900px;
	overflow: hidden;
    margin: auto;
}

#photo {
	width: 2000px;
	animation: switch 8s ease-out infinite;
}

#photo > img {
	float: left;
	width: 1000px;
	height: 900px;
}

@keyframes switch {
	0%, 25% {
		margin-left: 0;
	}
	35%, 60% {
		margin-left: -1000px;
	}

}


ol, ul {
    list-style: none;
}
.wrapper {
    padding: 5em 0 3em 0;
    position: relative;
}
.wrapper > .inner {
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    max-width: 100%;
}

.wrapper.alt {
    border-top: solid 2px;
    border-top-color: rgba(144, 144, 144, 0.25);
}
.wrapper.style{
    background-color: #fafafa;
    color: #777;
}

.wrapper.style a {
    color: #051118;
}

.wrapper.style .spotlight {
    background-color: white;
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style.alt {
    border-top-color: rgba(144, 144, 144, 0.25);
}

.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border-bottom: solid 2px;
    margin-bottom: 3em;
}

.spotlight .image {
    width: 40%;
}

    .spotlight .image img {
        width: 100%;
    }

.spotlight .content {
    padding: 2em 3em 0.1em 3em;
    width: 60%;
}       